/*HomePage.css*/
/* body{
  background-image: url('../assets/b2.jpg'); 
} */
.Headder {
	display: flex;
	padding-top: 1pc;
	padding-bottom: 1pc;
	padding-left: 5px;
	/* padding-right: 10px ; */
	height: 150px;
	align-items: center;
	background-color: rgb(8, 58, 116);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	color: white;
}

.l1 {
	border-radius: 10px; /* Adjust the radius as needed */
	border: 3px solid #050505; /* Specify the border color using a hex code */
	/* opacity: 0.5; */
	/* border-radius: 50pc; */
	justify-content: left;
	height: 8pc;
	margin-left: 2%;
	margin-right: 8%;
	width: 8pc; /* Adjust as needed */
	/* margin-left: 10px; */
}
.l2 {
	/* border-radius: 10px;  */
	border: 3px solid #f7f1f1;
	/* opacity: 0.5; */
	border-radius: 50pc;
	justify-content: right;
	height: 8pc;
	text-align: center;
	width: 8pc;
	margin-right: 0px;
	margin-left: 60px;
}
.college-name {
	text-align: center;
	font-size: 40px; /* Set the font size for the college name */
	font-weight: bold; /* Optional: Add bold style */
	/* Add any other styles you want */
}
.college-info-container {
	overflow: hidden; /* Ensure that the moving text doesn't overflow */
}

.college-description {
	font-size: 20px; /* Set the font size for the college description */
	/* Add any other styles you want */
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	text-align: center;
	animation: slideRight 8s linear infinite;
}

.options-container {
	overflow-y: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(9, 3, 90);
	width: 15pc;
	display: flex;
	flex-direction: column;
	height: 10%; /* Set the height of the container */
	align-items: center;
}

.club {
	width: 12pc; /* Set the width of the club */
	height: 40px; /* Set the height of the club */
	border-radius: 10px;
	margin: 3px;
	font-size: 75%;
	background-color: rgb(160, 233, 243);
	border: 2px solid white;
	text-align: center;
	line-height: 30px; /* Center the content vertically */
}

.club:hover {
	background-color: rgb(9, 3, 90); /* Change the background color as needed */
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 0.5s ease;
	color: #fff;
}

.club-link:hover h3 {
	color: #fff; /* Change the text color when hovered */
	/* transform: scale(1); 
    transition: transform 0.5s ease; */
}

.main-container {
	display: flex;
	justify-content: space-between;
	/* margin-top: 10px; */
	padding-top: 20px;
}

.additional-div {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	width: calc(90% - 12pc);
	/* background-color: rgb(73, 188, 238); */
	padding: 20px;

	justify-content: space-between;
	height: 13pc;
}
.comp1 {
	width: calc(90% - 0pc);
	background-color: rgb(160, 233, 243);
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	height: 8pc;
	text-align: center;
	justify-content: center;
	/* margin-left: 20px; */
}
.comp2 {
	width: calc(90% - 0pc);
	background-color: rgb(160, 233, 243);
	padding: 20px;
	border: #050505;
	border-radius: 20px;
	box-sizing: border-box;
	height: 8pc;
	text-align: center;
	margin-left: 20px;
}
.comp3 {
	width: calc(90% - 0pc);
	background-color: rgb(160, 233, 243);
	padding: 20px;
	box-sizing: border-box;
	height: 8pc;

	border-radius: 20px;
	text-align: center;
	margin-left: 20px;
}
/* Add the following CSS styles to your existing stylesheet or create a new one */

.auth-buttons {
	padding: 1pc;
	display: flex;
	justify-content: flex-end;

	margin-top: 190px;
	color: #f7f1f1;
	height: 3pc;
	width: 100;
	background-color: rgb(9, 3, 90);
	/* margin-bottom: 20px; */
	/* position: fixed; */
}
.auth-buttons h3 {
	justify-content: start;
	color: rgb(19, 18, 18);
	/* padding-bottom: 10px; */
}

.button {
	box-sizing: border-box;
	cursor: pointer;
	margin-left: 20px; /* Add space between buttons */
	margin-right: 20px 20px 0px 20px;
	padding: 10px;
	background-color: rgb(160, 233, 243); /* Adjust button color as needed */
	color: #fff;
	/* border: 1pc; */
	border-radius: 5px;
	font-size: 50%;
	/* cursor: pointer; */
	/* height: 2pc;
width: 5pc; */
	/* font-size: 15px; */
	border-color: white;
	align-items: center;
	height: 44px;
	width: 44px;
	margin-top: 2px;
}

@keyframes slideRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			100%
		); /* Adjust the distance to which you want the text to move */
	}
}
