/* ViewMembers.css */

/* Container for the View Members component */
.view-members-container {
    max-width: 800px;
    margin: 100px auto 0; /* Adjust margin-top to move the box lower */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  h2 {
    font-size: 2rem;
    color:black;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 0px;
    margin-top: 20px;
  }
  
  /* Table header styles */
  th {
    background-color: #1a6be4;
    padding: 12px 8px;
    text-align: left;
  }
  
  /* Table cell styles */
  td {
    padding: 8px;
  }
  
  /* Alternate row color for better readability 
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }*/
  
  /* Hover effect for table rows */
  tbody tr:hover {
    background-color: #96939350;
  }
  .back-button1 {
    background-color: rgb(58, 74, 165);
    color: white; /* Change button text color to white */
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 185px; /* Center align buttons */
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Ensure buttons are block elements */
    width: 150px; /* Adjust button width */
    text-align: center; /* Center align button text */
  }
  .auth-buttons2 {
    /* margin-right: 1pc; */
    padding: 1pc;
    display: flex;
    justify-content: center;
  
    margin-top: 0px;
    color: #f7f1f1;
    height: 5pc;
    width: 100;
    background-color: rgb(9, 3, 90);
  }
  
  /* Responsive table styles */
  @media screen and (max-width: 600px) {
    table {
      overflow-x: auto;
      display: block;
    }
    
    th, td {
      white-space: nowrap;
    }
  }
  